.flex {
    display: flex;
}

.headerContainer {
    width: 100%;
}

.header {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.menuContainer {
    display: flex;
    margin-left: 32px;
}

.menuContainer a {
    margin: 38px;
    font-size: 20px;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
}

.menuContainer a:hover {
    color: #F6B91C;
}

.loginForm {
    margin-right: 0;
    margin-top: 41px;
}

.loginForm a {
    font-size: 15px;
    color: #333333;
    text-decoration: none;
}