input, select, button, input:focus-visible {
    border: none;
    outline: none;
}

select {
    width: 40%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background:url('../assets/img/arrow.png') no-repeat right 10px center;
    margin-left: 12px;
    margin-bottom: 3px;
}

option {
    padding: 50px 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 450px;
}

.container {
    font-size: 2rem;
    border-radius: 1rem;
    margin-top: 170px;
    min-width: 450px;
    display: flex;
    flex-direction: column;
}

.container h1 {
    text-align: center;
    margin-bottom: 72px;
    font-size: 24px;
    color: #333333;
}

.inputBox {
    margin-top: 8px;
    display: flex;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    height: 19px;
    padding: 15px;
}

.inputBoxActive {
    margin-top: 8px;
    display: flex;
    background: #FFFFFF;
    border: 1px solid #FFD91D;
    border-radius: 8px;
    height: 19px;
    padding: 15px;
}

.inputBox:focus-visible {
    border:1px solid yellow;
}

.inputId {
    width: 60%;
}

.inputPassword {
    width: 90%;
}

.inputPasswordEyes {
    width: 10%;
    background:url('../assets/img/eyesClos.png') no-repeat right 0px center;
    cursor: pointer;
}

.mailStyle {
    font-size: 16px;
    color: #555555;
}

.checkBox {
    display: flex;
    margin-top: 22px;
    margin-bottom: 19px;
}

.inputCheckBox {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.fontStyle {
    margin-left: 8px;
    margin-top: 8px;
    font-size: 16px;
    color: #888888;
}

.loginBtn {
    background: #FFD91D;
    border-radius: 8px;
    height: 50px;
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    cursor: pointer;
}

.loginBtn:hover {
    background: #ffc700;
}

.signUpBtn {
    margin-top: 16px;
    background: #FFFFFF;
    border: 1px solid #888888;
    border-radius: 8px;
    height: 50px;
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    cursor: pointer;
}

.signUpBtn:hover {
    background: #ebebeb;
}

.forgotFontStyle {
    font-size: 16px;
    text-decoration-line: underline;
    color: #888888;
    margin-top: 24px;
    cursor: pointer;
}