input, select, button, input:focus-visible {
    border: none;
    outline: none;
}

select {
    width: 40%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background:url('../assets/img/arrow.png') no-repeat right 10px center;
    margin-left: 12px;
    margin-bottom: 3px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 450px;
}

.container {
    font-size: 2rem;
    border-radius: 1rem;
    margin-top: 87px;
    min-width: 450px;
    display: flex;
    flex-direction: column;
}

.container h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 24px;
    color: #333333;
}